db.sqlite3
__pycache__/
.venv/
./venv/*
./venv/
.vscode/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.coverage
*.cover
*.tox/
*.pytest_cache/
*.mypy_cache/
*.pylint.d/
*.coverage.*
*.hypothesis/
